<template>
  <section class="nav-section">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <div>
          <span class="navbar-brand">Navbar</span>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </section>
  <section>
    <div class="container">
      <header class="header">
        <div class="add-products" submit.prevent>
          <div>
            <b>Add new products</b>
            <input
              type="text"
              placeholder="Add new product"
              class="add-product-input"
              v-model="product"
            />
          </div>
          <div>
            <b>Add product cost</b>
            <input
              type="text"
              placeholder="Add product cost"
              class="add-product-cost"
              v-model="cost"
            />
          </div>
          <div>
            <b>Product address</b>
            <input
              type="text"
              placeholder="Add product address"
              class="add-address"
              v-model="address"
            />
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-primary btn-add"
              @click="postData"
            >
              add product
            </button>
          </div>
        </div>

        <div class="header-img">
          <img src="../src/assets/remote-team.svg" />
        </div>
      </header>
    </div>
  </section>
  <section class="section-post container">
    <div class="all-post" v-for="post in post">
      <span>
        <b>Product name: </b>
        <span>{{ post.name_uz }}</span>
      </span>
      <span>
        <b>Product cost: </b>
        <span>{{ post.cost }}</span>
      </span>
      <span>
        <b>Product address: </b>
        <span>{{ post.address }}</span>
      </span>
      <span>
        <b>Date: </b>
        <span>{{ formatDate(post.created_date) }}</span>
      </span>
      <div>
        <i class="fa-regular fa-pen-to-square text-warning"></i>
        <i
          class="fa-regular fa-trash-can text-danger"
          @click="deletePost(post.id)"
        ></i>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";
// axios.defaults.headers.post['application-length'] = '1644'
// axios.defaults.headers.post['content-Type'] = 'application/json'
const headers = {
'Content-Type': 'application/json'
};
const baseUrl = `http://94.158.54.194:9092/api/product`;
export default {
  data() {
    return {
      post: [],

      product: "",
      cost: "",
      address: "",
    };
  },
  methods: {
    formatDate(date) {
      const options = { year: "numeric", month: "long", day: "numeric" };
      return new Date(date).toLocaleDateString("en", options);
    },
    postData(e) {
      e.preventDefault();
      const newPostData = {
        product_type_id: Math.ceil(Math.random() * 1000000).toString(36),
        name_uz: this.product,
        cost: this.cost,
        address: this.address,
        created_date: Date.now(),
      };
      console.log(newPostData);
      axios.post(baseUrl, newPostData, headers).then((response) => {
        console.log(response);
      });
    },

    deletePost(id) {
      axios.delete(`${baseUrl}/${id}`).then((response) => {
        console.log(response);
        let i = this.post.map((data) => data.id).indexOf(id);
        this.post.splice(i, 1);
      });
    },
  },
  mounted() {
    axios
      .get(baseUrl)
      .then((response) => (this.post = response.data))
      .then((response) => console.log(response));
  },
};
</script>

<style>
body {
  background-color: #f6f6fe;
}
.header {
  display: flex;
  background-color: #f5e9eb;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}
.add-products {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-img {
  width: 25%;
}
.header-img img {
  width: 70%;
  margin-left: 10%;
}

.nav-section {
  background-color: white;
}

.add-product-input,
.add-product-cost,
.add-address {
  background-color: rgb(88, 88, 186);
  border: 2px solid;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}
input {
  outline-color: pink;
}
.add-product-cost {
  background-color: rgb(244, 140, 148);
}
.add-address {
  background-color: rgb(159, 163, 224);
}
.add-product-input::placeholder,
.add-product-cost::placeholder,
.add-address::placeholder {
  color: white;
}
b {
  display: inline-block;
  font-size: 22px;
  margin: 10px 5px;
}
.btn-add {
  width: 150px;
  padding: 10px;
  margin-top: 50px;
}

.all-post {
  display: flex;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 3px rgb(239, 239, 247);
  transition: all 0.5s;
}
.all-post:hover {
  transform: translate(20px);
}
.all-post b {
  font-size: 17px;
}
.all-post div i {
  margin: 0px 10px;
  font-size: 20px;
}
i:hover {
  cursor: pointer;
}
</style>
